*,
*:before,
*:after {
    box-sizing: border-box;
}

.header-main {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px #444;
    z-index: 10;
}

.header-main--title {
    text-align: center;
}

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card {
    width: 100%;
    max-width: 485px;
    padding: 15px;
    background-color: #efefef;
    border: 1px solid #969696;
    border-radius: 4px;
    box-shadow: 0 3px 8px #969696;
}

.card-header {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 15px;
    position: relative;
}

.card-header-title {
   margin: 0;
}

.card-header-bookmark {
    position: absolute;
    right: 0px;
    top: -23px;
}

.card-header-bookmark a {
    background-color: #323232;
    height: 30px;
    width: 40px;
    display: block;
    border-radius: 3px 3px 0 0;
}

.card-header-bookmark a:after {
    content:"";
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid #323232;
    border-right: 20px solid #323232;
    border-bottom: 18px solid transparent;
    position: absolute;
    bottom: -18px;
}

.card-content-question {
}

.card-content-userinput {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px;
}

.card-content-userinput form {
    display: flex;
    flex-direction: column;
}

.card-answer--text {
    margin-left: 5px;
}

.card-content-answer {
    display: none;
    background-color: #e4dfdf;
    padding: 8px 10px 5px;
    border-radius: 5px;
    border: 1px solid #d7d6d6;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    max-width: 300px;
    margin: 25px auto 15px;
    padding: 10px 15px;
    font-weight: 600;
}

.btn-primary {
    background: rgb(235,126,15);
    background: linear-gradient(0deg, rgba(235,126,15,1) 0%, rgba(205,99,2,1) 100%);
    border: 1px solid #d56804;
    border-radius: 5px;
    color: #fff;
}

.btn-primary:hover {
    filter: brightness(90%);
}

.is--right {
    color: #6cce02;
}

.is--wrong {
    color: #be0000;
}

.card-footer {
    display: flex;
    flex-direction: row;
    font-size: .875rem;
    gap: 15px;
}

.key-items {
    background-color: #565656;
    color: #f2f2f2;
    padding: 5px 8px 3px;
    border-radius: 3px;
}

.key-items:before {
    content: "#";
    margin-right: 4px;
}

.footer-main {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    box-shadow: 0 -2px 8px #444;
    z-index: 10;
}

.footer-main--nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

.nav-items > svg {
    max-width: 40px;
    max-height: 40px;
}

/*** PROFILE PAGE ***/

.card-profile .card-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.card-profile .card-header .user-image {
    width: 120px;
    height: 120px;
    border: 2px solid #d3d3d3;
    border-radius: 50%;
    overflow: hidden;
}

.card-profile .card-header .user-image img {
    width: 100%;
}

.card-content-profile .status {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px 0;
}

.card-content-profile .counter {
    background-color: #323232;
    color: #f2f2f2;
    padding: 8px 12px;
}

.counter-user--questions {

}