*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: var(--bodyBg);
}

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main-content--new-entries--show {
    padding-top: 50px;
}

.is--right {
    color: var(--right);
}

.is--wrong {
    color: var(--error);
}

.is--hidden {
    display: none;
}
